extends layout

block content
	.hero-unit
		.container
			h1 HTML5 #{title}
			p 
				| Is here to help you get started with new HTML5 projects fast 
				span(class='icon-bolt bolt')
		
	.row-fluid
		.span12.social
			.btn-group
				.btn: a(href='https://github.com/piatra/webstrap')
					span(class='icon-github')
					| github 
				.btn.btn-info: a(href='https://twitter.com/an_rei') 
					span(class='icon-twitter')
					| twitter 

	.container
		.row-fluid.spacing30
			.span3
				ul
					h3	HTML
					li
						input(type='checkbox', id='index.html', checked, disabled)
						label(for='index.html') HTML5 Boilerplate
							span(class='label label-info pull-right') 4.0.0
					li
						input(type='checkbox', id='robots.txt')
						label(for='robots.txt') Robots.txt
					li
						input(type='checkbox', id='humans.txt')
						label(for='humans.txt') Humans.txt
					li
						input(type='checkbox', id='404.html')
						label(for='404.html') 404 Page
					h3 HTML5 Polyfill
					li
						input(type='checkbox', id='modernizr')
						label(for='modernizr') Modernizr
			.span3
				ul
					h3 CSS
					li
						input(type='checkbox', id='bootstrap', class='css')
						label(for='bootstrap') Twitter Bootstrap
							span(class='label label-info pull-right') 2.2.2
						.hide.extra.label.label-success
							input(type='checkbox')
							| min ?
					li
						input(type='checkbox', id='bootstrap-responsive', class='css')
						label(for='bootstrap-responsive') Bootstrap responsive
						.hide.extra.label.label-success
							input(type='checkbox')
							| min ?
			.span3
				ul
					h3 Javascript
					li
						input(type='checkbox', id='jquery')
						label(for='jquery') jQuery
							span(class='label label-info pull-right') 1.8.3
						.hide.extra.label.label-success
							input(type='checkbox', checked)
							| min ?
					li
						input(type='checkbox', id='requirejs')
						label(for='requirejs') RequireJS
							span(class='label label-info pull-right') 2.1.2
						.hide.extra.label.label-success
							input(type='checkbox', checked)
							| min ?
					li
						input(type='checkbox', id='backbone')
						label(for='backbone') Backbone
							span(class='label label-info pull-right') 0.9.9
						.hide.extra.label.label-success
							input(type='checkbox', checked)
							| min ?
			.span3.well
				h3 Folder Structure
				//small.label.label-info: em edit folder structure
				ul.folder-structure
					li
						i(class='icon-folder-open') 
						span(id="js", contentEditable) js
						ul
							li
								i(class='icon-folder-open')
								span(id="vendor", contentEditable) vendor
							li
								i(class='icon-file')
								span(id="script.js", contentEditable) script.js
							li
								i(class='icon-file')
								span(id="plugins.js", contentEditable) plugins.js
					li 
						i(class='icon-folder-open') 
						span(id="imgs", contentEditable) imgs
					li
						i(class='icon-folder-open') 
						span(id="css", contentEditable) css
						ul
							li
								i(class='icon-file') 
								span(id="main.css", contentEditable) main.css
					li
						i(class='icon-file') 
						span(id="index.html", contentEditable) index.html
					li
						i(class='icon-file') 
						span(id="start.sh", contentEditable) start.sh
		.row-fluid.spacing20
			.span12
				#download.btn.btn-primary.btn-large Download
	.row-fluid12.spacing30.tools
		.container
			ul.span6
				h3 Minify CSS
				li
					input(type='file', id='minify')
			ul.span6
				h3 Javascript
	.row-fluid12.about.top-shadow
		.container
			h2 About
			
			p Webstrap is an attempt to bring <code>$ yeoman init</code> command to the browser. I found it to be very useful and I wanted to make it available for people that are not familiar with nodejs or the terminal.
			p
				a(href='yeoman.io') Yeoman 
				| is a robust and opinionated set of tools, libraries, and a workflow that can help developers quickly build beautiful, compelling web apps.

	script(src='javascripts/jquery.js')
	script(src='javascripts/scripts.js')