extends layout

block content
	.hero-unit
		h1 HTML5 #{title}
		p Initializr is an HTML5 templates generator to help you getting started with a new project based on HTML5 Boilerplate
		p It generates for you a clean customizable template with just what you need to start!trap is a tool that allows you to get all the components you need for your next project in just one place
		
	.row-fluid
		.span12.social
			.btn-group
				.btn: a(href='https://github.com/piatra/webstrap')
					span(class='icon-github')
					| github 
				.btn.btn-info: a(href='https://twitter.com/an_rei') twitter 

	.container
		.row-fluid
			.span3
				ul
					h3	HTML
					li
						input(type='checkbox', id='h5bp', checked, disabled)
						label(for='h5bp') HTML5 Boilerplate
							span(class='label label-info pull-right') 4.0.0
					li
						input(type='checkbox', id='robots.txt')
						label(for='robots.txt') Robots.txt
					li
						input(type='checkbox', id='humans.txt')
						label(for='humans.txt') Humans.txt
					li
						input(type='checkbox', id='404.html')
						label(for='404.html') 404 Page
					h3 HTML5 Polyfill
					li
						input(type='checkbox', id='modernizr')
						label(for='modernizr') Modernizr
			.span3
				ul
					h3 CSS
					li
						input(type='checkbox', id='bootstrap')
						label(for='bootstrap') Twitter Bootstrap
							span(class='label label-info pull-right') 2.1.1
						.hide.extra.label.label-success
							input(type='checkbox')
							| min ?
					li
						input(type='checkbox', id='bootstrap-responsive')
						label(for='bootstrap-responsive') Bootstrap responsive
						.hide.extra.label.label-success
							input(type='checkbox')
							| min ?	
			.span3
				ul
					h3 Javascript
					li
						input(type='checkbox', id='jquery')
						label(for='jquery') jQuery
							span(class='label label-info pull-right') 1.8.1
						.hide.extra.label.label-success
							input(type='checkbox', checked)
							| min ?
					li
						input(type='checkbox', id='requirejs')
						label(for='requirejs') RequireJS
							span(class='label label-info pull-right') 2.0.6
						.hide.extra.label.label-success
							input(type='checkbox', checked)
							| min ?
					li
						input(type='checkbox', id='backbone')
						label(for='backbone') Backbone
							span(class='label label-info pull-right') 0.9.2
						.hide.extra.label.label-success
							input(type='checkbox', checked)
							| min ?
			.span3
				h3 Folder Structure
				small.label.label-info: em edit folder structure
				ul.folder-structure
					li
						i(class='icon-folder-open') 
						span(id="js", contentEditable) js
						ul
							li
								i(class='icon-folder-open')
								span(id="vendor", contentEditable) vendor
							li
								i(class='icon-file')
								span(id="script.js", contentEditable) script.js
							li
								i(class='icon-file')
								span(id="plugins.js", contentEditable) plugins.js
					li 
						i(class='icon-folder-open') 
						span(id="imgs", contentEditable) imgs
					li
						i(class='icon-folder-open') 
						span(id="css", contentEditable) css
						ul
							li
								i(class='icon-file') 
								span(id="css", contentEditable) css
					li
						i(class='icon-file') 
						span(id="index.html", contentEditable) index.html
					li
						i(class='icon-file') 
						span(id="start.sh", contentEditable) start.sh
		.row-fluid
			.span6
				#download.btn.btn-primary.btn-large Download
			.span6
				#download.btn.btn-info.btn-large What's inside ?
		.row-fluid
			.span12
				p.pull-right Inspired by 
					a(href='http://yeoman.io/'): em yeoman.io 
					| and 
					a(href='http://twitter.github.com/bootstrap/') Twitter Bootstrap 
					| built with 
					a(href='nodejs.org') nodejs