.hero-unit {
  background: #d8bfd8 url("../img/hero.png") right repeat;
  color: #fff;
  text-shadow: 0 2px 0 #111;
  border-radius: 0;
  margin-bottom: 0;
}
.hero-unit h1 {
  color: #f16529;
}
.btn-info a {
  color: #fff;
}
label {
  letter-spacing: 1px;
  font-size: 15px;
}
.social {
  background: #f5f5f5;
  padding: 5px;
  text-align: center;
}
.container ul {
  margin: 0;
  padding: 0;
}
.container ul li {
  list-style: none;
  padding: 10px;
  margin: 0;
  position: relative;
  border-bottom: 3px solid #fff;
}
.container ul li .label {
  margin-left: 5px;
}
.container ul li:hover,
.container ul li label:hover {
  background: #f16529;
  cursor: pointer;
  color: #fff;
}
.container ul li:hover {
  border-bottom: 3px solid #d45924;
}
.container ul li span[contentEditable] {
  display: inline-block;
  width: 60%;
}
.container ul li ul li:before {
  content: '|-';
}
.container input[type='checkbox'] {
  float: left;
  margin-right: 0.5em;
}
.container input[type='checkbox']:checked ~ .hide {
  display: block;
}
.container input[type='checkbox']:checked ~ label span {
  display: none;
}
ul.folder-structure li {
  border: none;
}
ul.folder-structure li:hover {
  color: #1b1b1b;
  background: none;
  border: none;
}
.extra {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
}
.icon-github {
  width: 14px;
  height: 15px;
  margin: -2px 4px 0 0;
  vertical-align: middle;
  background: url("../img/github-icons.png") no-repeat 0 0;
}
.btn-large {
  width: 96%;
  font-size: 40px;
}
