body
	padding: 20px

.hero-unit
	background: thistle url('../img/hero.png') right repeat;
	color #fff
	text-shadow 0 2px 0 #111
a
	color: #00B7FF
label
	width: auto

.extend-y
	background #f5f5f5
	margin 0 -20px
	padding 10px
	text-align center

.container
	ul 
		margin: 0
		padding: 0
	ul li 
		list-style: none
		width: 280px
		background: #eee
		padding: 5px
		margin: 5px
		border-radius: 5px
		.label
			float:right
		&:hover, label:hover
			background: #ddd
			cursor: pointer
	input[type='checkbox']
		float: left
		margin-right: .5em